body {
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  text-align: center;
}

.app-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Shadows Into Light", cursive;
  font-size: 4rem;
  color: wheat;
  text-shadow: 3px 3px gray;
}
